html
    //- bring head and body inside of html ->  tab
    head
        title= _title
    body
        h1 Hello Pug  
        ul 

            //- loop --> JS 
            //- for = PUg template ... --> not to print on screen -> to control programmaticall --> PUT "-"
            //- "-" = not printed on screen 
            //- for --> repetition --> 5 times 
            - for(let i = 0; i < 5; i++) 
                li coding
        //- line break = new tag 
        
        //- print time
        //- time --> PUg variable 
        //- how to print time??? --> on express --> inject variable 
        //- 
        div= time 
    
            



